@import "tailwindcss";

@theme {
  --color-purple-300: #e0e7fe;
  --color-purple-500: #3e38a7;
  --color-purple-600: #5046e4;
  --color-navtext: #334155;
  --color-navtexthover: #9333ea;
  --color-navbg: #f1f5f9;
}

.bg-img {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.text-gradient {
  background-image: linear-gradient(to right, #3e38a7, #0061c4, #0082d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Notification slide styles */
.slide-enter {
  transform: translateX(100%);
}
.slide-enter-active {
  transform: translateX(0%);
  transition: transform 300ms;
}
.slide-exit {
  transform: translateX(0%);
}
.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
